# Ignore all files by default
*

# Allow specific files and directories
!.gitignore
!mods/
!mods/**
!resourcepacks/
!resourcepacks/**
!shaderpacks/
!shaderpacks/**
!config/
!config/bcc.json

# Exclude .txt files in shaderpacks
shaderpacks/*.txt